{% extends 'page.html.twig' %}

{% block body %}
<div class="section">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td><a href="{{ url_for('characters.edit', { id: character.id })}}">Edit</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
